@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}

<h3>Orders</h3>
<table class="table">
    <!-- Display order details information -->
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Order Date</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in ViewBag.Orders)
        {
            <tr>
                <td>@order.Order_Id</td>
                <td>@order.User_Id</td>
                <td>@order.Order_Date</td>
                <td>@order.Total_Price</td>
                <td>
                    @Html.ActionLink("Delete", "DeleteOrder", "AdminDashboard", new { id = order.Order_Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>